*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
 
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 62.5%;
}

  

h1 {
    font-size: 2.6rem;
    font-family: 'Times New Roman', Times, serif;
    color: white; 
}


.main-head {
    background-color: black;
    color: black;
}
nav{

    min-height: 10vh;
    display: flex;
    align-items: left;
    width: 90%;
    margin: auto;
    padding: 2rem;
}
  
nav ul {
    display: flex;
    flex: 1 1 40rem ;  
    justify-content: space-around;
    align-items: center;
    list-style: none;     
}

li{
    font-size: 2rem;
}
 a {
  color: white;

}

a:hover {
  text-decoration:overline ;
}

#log {
    flex : 2 1 40rem
    
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
  }

